<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action=""></form>
            <input type="search" name="busca" id="busca">
        </div>
    </header>

    <nav>
        <a href="../idex.html">Inicio</a> 
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contatos.html">Contato</a>
        <a href="favoritos.html" class="alinhar"> <img src="/imgs/star.png" alt="" width="30px" height="30px">
            Favoritos</a>
        <a href="login.html">Login</a>
    </nav>

    <main id="main-favoritos">
            <h2>Categorias</h2>

            <div class="categorias">
                <select id="categoria">
                    <option value="infantil">Infantil</option>
                    <option value="ficcao">Ficção</option>
                    <option value="romance">Romance</option>
                    <option value="arte">Arte</option>
                    <option value="didaticos">Didáticos</option>
                    <option value="receitas">Receitas</option>
                    <option value="saude">Saúde</option>
                    <option value="esporte">Esporte</option>
                </select>
            </div>
    
            <div class="livros">
                <!-- imagens dos livros -->
                <img src="../imgs/menido maluquinho.jfif" alt="Infantil" height="250%" width="100%">
                <img src="../imgs/guerra dos mundos.jfif" alt="Ficção" height="250%" width="100%">
                <img src="../imgs/romance.jpg" alt="Romance" height="250%" width="100%">
                <img src="../imgs/arte.jfif" alt="Arte" height="250%" width="100%">
                <img src="../imgs/didaticos.jfif" alt="Didáticos" height="250%" width="100%">
                <img src="../imgs/receita2.jfif" alt="Receitas" height="300%" width="100%">
                <img src="../imgs/saude.jfif" alt="Saúde" height="250%" width="100%">
                <img src="../imgs/esporte.jfif" alt="Esporte" height="250%" width="100%">
            </div>
    </main>

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>

        <div>
            Todos os direitos reservados
        </div>

        <div class="img-fim">
            <img src="../imgs/square-facebook.svg" alt="" width="30px">
            <img src="../imgs/square-instagram.svg" alt="" width="30px">
        </div>

    </footer>

</body>

</html>