<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action=""></form>
            <input type="search" name="busca" id="busca">
        </div>
    </header>

    <nav>
        <a href="../idex.html">Inicio</a>
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contatos.html">Contato</a>
        <a href="favoritos.html" class="alinhar"> <img src="/imgs/star.png" alt="" width="30px" height="30px">
            Favoritos</a>
        <a href="login.html">Login</a>
    </nav>

    <main>
        <section class="categorias">
            <h2>Categorias</h2>


            <div id="container-categorias">
                <div class="categoria">
                    <h3>Infantil</h3>
                    <img src="/imgs/menido maluquinho.jfif" alt="Livros Infantil">
                </div>

                <div class="categoria">
                    <h3>Ficção</h3>
                    <img src="/imgs/guerra dos mundos.jfif" alt="Livros de Ficção">
                </div>

                <div class="categoria">
                    <h3>Romance</h3>
                    <img src="/imgs/romance.jpg" alt="Livros de Romance">
                </div>

                <div class="categoria">
                    <h3>Arte</h3>
                    <img src="/imgs/arte.jfif" alt="Livros de Arte">
                </div>

                <div class="categoria">
                    <h3>Didáticos</h3>
                    <img src="/imgs/didaticos.jfif" alt="Livros de Didaticos">
                </div>

                <div class="categoria">
                    <h3>Receitas</h3>
                    <img src="/imgs/receitas.jfif" alt="Livros de Receitas">
                </div>

                <div class="categoria">
                    <h3>Saúde</h3>
                    <img src="/imgs/saúde.jfif" alt="Livros de Saúde">
                </div>

                <div class="categoria">
                    <h3>Esportes</h3>
                    <img src="/imgs/esporte.jfif" alt="Livros de esportes">
                </div>
            </div>
        </section>





        

    </main>

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>

        <div>
            Todos os direitos reservados
        </div>

        <div class="img-fim">
            <img src="../imgs/square-facebook.svg" alt="" width="30px">
            <img src="../imgs/square-instagram.svg" alt="" width="30px">
        </div>

    </footer>

</body>

</html>