<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <header>
        <div class="logo-busca">
            <h1>Estante Web</h1>

            <form action=""></form>
            <input type="search" name="busca" id="busca">
        </div>

    </header>

    <nav>
        <a href="../idex.html">Inicio</a>
        <a href="quem_somos.html">Quem Somos</a>
        <a href="contatos.html">Contato</a>
        <a href="favoritos.html" class="alinhar"> <img src="/imgs/star.png" alt="" width="30px" height="30px">
            Favoritos</a>
        <a href="login.html">Login</a>
    </nav>

    <main>
                <div class="quem_somos"> 
            <p>Bem-vindo à Estante Web: O seu Destino Literário Online</p>
            <br>

            Na Estante Web, mergulhe em um universo de palavras onde cada página é uma porta para novos mundos. Somos
            apaixonados por livros e acreditamos que cada leitor merece encontrar sua próxima grande história. Navegue
            em nossa vasta coleção de obras literárias cuidadosamente selecionadas, desde clássicos atemporais até
            lançamentos contemporâneos.
            <br>
            <br>
            

            <p>Explore e Descubra</p>
            <br>

            Descubra novos autores promissores ou reencontre os mestres da literatura que marcaram época. Nosso catálogo
            abrange gêneros diversos, garantindo que haja sempre algo para cada tipo de leitor. De romances envolventes
            a mistérios intrigantes, de ficção científica futurista a histórias inspiradoras de não ficção, a Estante
            Web é seu guia confiável no vasto mundo dos livros.
            <br>
            <br>

            <p>Recomendações Personalizadas</p>
            <br>

            Não sabe por onde começar? Deixe nossas recomendações personalizadas guiarem sua jornada literária. Com base
            em seus gostos e preferências, sugerimos títulos que certamente capturarão sua imaginação e alimentarão sua
            paixão pela leitura.

            <p>Facilidade e Conveniência</p>
            <br>

            Com a Estante Web, o prazer da leitura está ao seu alcance. Navegue, compre e receba seus livros favoritos
            com praticidade e segurança. Nosso processo de compra é simples e eficiente, garantindo uma experiência de
            usuário fluida do início ao fim.
            <br>
            <br>

            <p>Conecte-se com a Comunidade</p>
            <br>

            Participe de discussões animadas, resenhas de livros e recomendações de leitura em nossa comunidade vibrante
            de leitores. Troque ideias, compartilhe suas opiniões e faça parte de uma rede apaixonada pelo poder
            transformador dos livros.

            Na Estante Web, estamos aqui para enriquecer sua vida através da magia das palavras. Junte-se a nós e
            embarque em uma jornada literária que transcende o tempo e o espaço. Descubra, explore e se apaixone por
            histórias que ficarão para sempre em sua memória.
            <br>
            <br>

            <p>Seja bem-vindo à Estante Web - Onde os Livros Ganham Vida.</p>
        </div>


    </main>

    <footer>
        <div id="copy">
            &copy; Estante Web
        </div>

        <div>
            Todos os direitos reservados
        </div>

        <div class="img-fim">
            <img src="../imgs/square-facebook.svg" alt="" width="30px">
            <img src="../imgs/square-instagram.svg" alt="" width="30px">
        </div>


    </footer>

</body>

</html>